.danhgia{
  &__tab{
    >li{
      >a{
        text-transform: inherit;
        @extend .fz-12px;
        @extend .be-vietnam-pro-600;
        @extend .text-999;
        padding-bottom: 12px;
      }
      &.uk-active{
        >a{
          @extend .text-000;
          border-color: #0CB0A7;
        }
      }
    }
  }
}