$sizes:(
        '12': 12px,
);
@each $name,$value in $sizes {
  .padding-#{$name} {
    padding: $value;
  }
}

$sizes:(
        '0-12' 0 12px,
        '6-12' 6px 12px,
        '0-8' 0 8px,
        '4-8' 4px 8px,
);
@each $name,$value1,$value2 in $sizes {
  .padding-#{$name} {
    padding: $value1 $value2;
  }
}