@mixin line-clamp($i){
  display: -webkit-box;
  -webkit-line-clamp: #{$i};
  -webkit-box-orient: vertical;
  overflow: hidden;
}
$j: 1,2,3,4,5;
@each $i in $j {
  .line-clamp-#{$i}{
    @include line-clamp($i);
  }
}

$colors: (
        '000': #000,
        '0C121C': #0C121C,
        '181C32': #181C32,
        '444241': #444241,
        '444': #444,
        '999': #999,
        'FFF': #FFF,
        'F65D4E': #F65D4E,
        'FF0441': #FF0441,
        'D83A40': #D83A40,
        '966412': #966412,
        '04C5BA': #04C5BA,
        '0CB0A7': #0CB0A7,
        '50CD89': #50CD89,
        '9A96AA': #9A96AA,
        '4B5563': #4B5563,
        '2A2928': #2A2928,
        '5E5D5A': #5E5D5A,
);
@each $name,$value in $colors {
  .text-#{$name} {
    color: rgba($value, 1);
  }
}