$j:(
20px,
100px,
160px,
200px,
240px,
298px,
326px,
414px,
430px,
1024px,
);
@each $i in $j {
  .width-#{$i}{
    max-width: 100%;
    width: #{$i};
  }
}

.width-max-content{
  width: max-content;
}